.git
.gitattributes
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/logs/.gitignore
Dockerfile.dev
docker-compose.yml
tests
.phpunit.cache
.phpunit.result.cache
